<div class="popup-header">
  <mat-slide-toggle (change)="translate($event)"></mat-slide-toggle>
  <i class="fa-solid fa-xmark" data-bs-dismiss="modal" aria-label="Close"></i>
</div>

<div class="p-4">
  <h2 class="h2-title"></h2>
  <ul class="ul-list" *ngIf="langEng; else langOther">
    <li>Nariya piece ah seathu oru string create panum</li>
  </ul>
  <ng-template #langOther>
    <ul class="ul-list">
      <li>
        A template literal can assemble multiple pieces into one final string.
      </li>
    </ul>
  </ng-template>
  <app-js-code [showCode]="'template-literals'"></app-js-code>
  <hr />
</div>
