<div class="popup-header">
  <mat-slide-toggle (change)="translate($event)"></mat-slide-toggle>
  <i class="fa-solid fa-xmark" data-bs-dismiss="modal" aria-label="Close"></i>
</div>

<div class="p-4">
  <div>
    <h2 class="h2-title">High level program</h2>
    <ul class="ul-list" *ngIf="langEng; else hlp">
      <li>
        Computer la run aagura ella peogram kum eadho oru hardware theva padum
        link memory, Cpu, Mouse, Keyboard adhoda velaiya seiradhukaga
      </li>
      <li>Languages: Js & python</li>
      <li>
        Program run aaguradhuku theva padura ellathaum namba manual ah manage
        pana vendam.
      </li>
      <li>
        Idhu mathri run aagura program ellam abstractions nu soluvanga namba
        kitta velaiya kudukama adhuve pathukum
      </li>
      <li>
        Memory management ah adhuve pathukura program ah garbage-collection.
        soluvanga
      </li>
      <li>
        Js engine palaya use aagadha objects ah adhuvave automatic ah computer
        memory la irundhu remove panikum
      </li>
    </ul>
    <ng-template #hlp>
      <ul class="ul-list">
        <li>
          Every program that run on a computer needs some hardware resources
          such as memory, Cpu, Mouse, Keyboard to do its work.
        </li>
        <li>Languages: Js & python</li>
        <li>We don't need to manage resources.</li>
        <li>
          The languages have so-called abstractions that take the work all away
          from us.
        </li>
        <li>
          The program that takes memory management away from us is
          garbage-collection.
        </li>
        <li>
          Inside the js engine which automatically removes old,unused objects
          from the computer memory.
        </li>
      </ul>
    </ng-template>
  </div>
  <hr />

  <div>
    <h2 class="h2-title">Low level language</h2>
    <ul class="ul-list" *ngIf="langEng; else lll">
      <li>
        Program run aaguradhuku theva padura ellathaum nambalave dha manage
        pananum
      </li>
      <li>
        Ex - Computer kita ketu oru variable create panradhuku memory create
        pana solanum
      </li>
    </ul>
    <ng-template #lll>
      <ul class="ul-list">
        <li>We need to manually manage these resources.</li>
        <li>Ex - Ask the computer for memory to create a new variable.</li>
      </ul>
    </ng-template>
  </div>
  <hr />

  <div>
    <h2 class="h2-title">Computer processor</h2>
    <ul class="ul-list" *ngIf="langEng; else cp">
      <li>Zero and one mattum dha computer understand panikum</li>
      <li>Zero and one la program eludha mudiyadhu</li>
      <li>Namba human readable code dha eludhuvom</li>
      <li>
        Machine code kum idhukum samandham illa dha ana konjam konjama indha
        code machine code ku translate aagidum
      </li>
      <li>Indha peocess js engine ulla nadakum</li>
    </ul>
    <ng-template #cp>
      <ul class="ul-list">
        <li>It only understand zeroes and ones (0101001).</li>
        <li>It is not possible to write code in 0 & 1.</li>
        <li>We simply write human - readable js code.</li>
        <li>
          Which is an abstraction over machine code but this code eventually
          needs to be translated to machine code.
        </li>
        <li>This process happens inside js engine.</li>
      </ul>
    </ng-template>
  </div>
  <hr />

  <div>
    <h2 class="h2-title">Multi-Paradigm</h2>
    <div *ngIf="langEng; else mp">
      <p>
        Nala javascirpt code structure epdi oru code ah correct ah eludhanum nu
        solum. Oru project ku edha programming method and style use panalam nu
        solum.
      </p>
      <p>Three Popular Paradigms</p>
      <h3 class="h3-title">1. Procedural</h3>
      <p>
        First class functions lam javascript la variables ah pakum. Namba adha
        oru function la pass panikalam aprm adha oru function ah return
        vangikalam
      </p>
      <app-js-code [showCode]="'js-adv-intro01'"></app-js-code>
      <h3 class="h3-title">2. Object-oriented</h3>
      <h3 class="h3-title">3. Functional Programming</h3>
    </div>
    <ng-template #mp>
      <p>
        Structuring our code which will ultimately direct the coding style and
        technique in a project that uses a certain paradigm.
      </p>
      <p>Three Popular Paradigms</p>
      <h3 class="h3-title">1. Procedural</h3>
      <p>
        First class functions are simply treated as variables. We can pass them
        into other function and return them from functions.
      </p>
      <app-js-code [showCode]="'js-adv-intro01'"></app-js-code>
      <h3 class="h3-title">2. Object-oriented</h3>
      <h3 class="h3-title">3. Functional Programming</h3>
    </ng-template>
  </div>
  <hr />

  <div>
    <h2 class="h2-title">Dynamic</h2>
    <ul class="ul-list" *ngIf="langEng; else dynamic">
      <li>Dynamic apdina automatic ah adhuvave change panikum</li>
      <li>Javascript la namba variable ku type asign pana matom</li>
    </ul>
    <ng-template #dynamic>
      <ul class="ul-list">
        <li>Dynamic actually means dynamically typed</li>
        <li>In js we don't assign data type to variables</li>
      </ul>
    </ng-template>
    <app-js-code [showCode]="'js-adv-intro02'"></app-js-code>
  </div>
  <hr />

  <div>
    <h2 class="h2-title">
      Single-thread and Non-blocking event loop concurrency model
    </h2>
    <div *ngIf="langEng; else thread">
      <h3 class="h3-title">Concurrency Modal?</h3>
      <ul class="ul-list">
        <li>Epdi javascript oru time la nariya task handle panudhu?</li>
        <li>
          Js single-thread soluvanga ena na idhu oru time la onu dha run panum
          ana namaku ore time la multiple things handle panra mathri irukanum.
          Adhunala asynchronous concept konduvandhanga
        </li>
        <li>
          Computer la thread radhu oru set of instructions adhu computer cpu la
          execute aagum. Namba machines processor la code execute aagura edam
          peru dha thread nu soluvanga
        </li>
      </ul>

      <h3 class="h3-title">Oru periya task run aana ena aagum?</h3>
      <ul class="ul-list">
        <li>
          Remote server la irundhu oru data featch pani edukurom idhu single
          thread ah block panidum
        </li>
        <li>Ana namaku apdi aaga kudadhu</li>
        <li>Namaku non-blocking ah code run aaganum → Event Loop</li>
      </ul>

      <h3 class="h3-title">Event Loop</h3>
      <p>
        Event Loop oru periya task eduthu adha background la execute panum adhu
        run aana aprm marupidium adha main thread la ye potudum complete aana
        aprm
      </p>
    </div>
    <ng-template #thread>
      <div>
        <h3 class="h3-title">Concurrency Modal?</h3>
        <ul class="ul-list">
          <li>
            How the js engine handles multiple tasks happening at the same time
          </li>
          <li>
            Js is single-thread means it can only do one thing at a time and
            therefore we need a way to handle multiple things happening at the
            same time. so JavaScript uses asynchronous programming to manage
            seemingly concurrent tasks.
          </li>
          <li>
            In computing a thread is like a set of instructions that is executed
            in the computer's cpu, so basically the thread is where our code is
            actually executed in the machines processor
          </li>
        </ul>

        <h3 class="h3-title">What if there is a long-running task?</h3>
        <ul class="ul-list">
          <li>
            Fetching data from a remote server well, it sounds like that would
            block the single thread
          </li>
          <li>But of course we don't want that</li>
          <li>We want is so-called non-blocking behaviour → Event Loop</li>
        </ul>

        <h3 class="h3-title">Event Loop</h3>
        <p>
          The event loop takes long-running tasks executes them in the
          background and then puts them back in the main thread once they are
          finished.
        </p>
      </div>
    </ng-template>
  </div>
  <hr />

  <div>
    <h2 class="h2-title">The Javascript engine and runtime</h2>
    <div *ngIf="langEng; else jsEngine">
      <ul class="ul-list">
        <li>Ella browser kum athoda sondha javascript engine irukum</li>
        <li>Romba famous aana engine vandhu google's v-eight</li>
        <li>
          v-eight engine power goggle, chrome, aprm node.js idhu dha adhiga js
          runtime ku use aagum
        </li>
        <li>
          node.js - Browser veliya server side applications build pana use aagum
        </li>
        <li>Ella js engine la um call stack and a heap irukum</li>
      </ul>
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Call Stack</th>
            <th>Heap</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Ella code um execute aagira edam. execution contexts nu soluvanga
            </td>
            <td>
              heap unstructured memory pool nu soluvanga adhula dha ella object
              aprm namba application run aaga theva paduradhulam irukum
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #jsEngine>
      <div>
        <ul class="ul-list">
          <li>Every browser has its own js engine</li>
          <li>The most well known engine is google's v-eight</li>
          <li>
            The v-eight engine power goggle, chrome, but also node.js which is
            the js runtime
          </li>
          <li>
            node.js - Used to build server side applications with js outside of
            any browser
          </li>
          <li>Any js engine always constains a call stack and a heap</li>
        </ul>
        <table class="table table-dark">
          <thead>
            <tr>
              <th>Call Stack</th>
              <th>Heap</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Where our code is executed using something called execution
                contexts
              </td>
              <td>
                The heap is an unstructured memory pool which stores all the
                objects that our application needs
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </div>
  <hr />

  <div>
    <h2 class="h2-title">Js Runtime</h2>
    <div *ngIf="langEng; else jsRuntime">
      <ul class="ul-list">
        <li>
          JavaScript engine vandhu oru program adhu javascript code ah execute
          panum.
        </li>
        <li>
          JavaScript engine components la call stack irukum, Anga dha code
          execute aagum aprm heap unstructured memory pool application ku thevai
          aana ella object um store pani veachirukum
        </li>
        <li>
          Execution kaga JavaScript code machine code ah convert aagum andha
          process name dha just-in-time compilation.
        </li>
        <li>
          Indha process la code ah data structure ah parse panuvom adhuku per
          dha abstract syntax tree (AST), aprm adha machine code ah compail
          panuvom final ah execute aagum.
        </li>
        <li>
          optimisation strategy onu use panuvanga oru unoptimised version of
          machine code first create aagum, aprm adha optimized and marupidium
          compiled aagum program execution appo.
        </li>
        <li>
          JavaScript runtime vandhu oru container adhula JavaScript use
          panradhukana ella components um irukum. Javascript oda heart of the
          engine la irukum
        </li>
        <li>
          JavaScript runtime la web APIs access irukum aprm callback queue
          callback function execute pana irukum
        </li>
      </ul>
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Component</th>
            <th>JavaScript in Browser</th>
            <th>JavaScript in Node.js</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>JavaScript Engine</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Web APIs</td>
            <td>Yes</td>
            <td>No</td>
          </tr>
          <tr>
            <td>JavaScript Engine</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>C++ Bindings</td>
            <td>No</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Thread Pool</td>
            <td>No</td>
            <td>Yes</td>
          </tr>
        </tbody>
      </table>
      <ul class="ul-list">
        <li>JavaScript code call stack la dha execute aagum</li>
        <li>
          The process starts by compiling the code and creating a global
          execution context for top-level code (code not inside any function).
        </li>
        <li>
          An execution context is an environment where a piece of JavaScript is
          executed. It stores necessary information for the code to be executed
          such as local variables or arguments passed into a function.
        </li>
        <li>
          In any JavaScript project, there is only ever one global execution
          context. It's always there as the default context and it's where
          top-level code will execute.
        </li>
        <li>
          For each function call, a new execution context will be created
          containing all the necessary information to run that function. All
          these execution contexts together make up the call stack.
        </li>
        <li>
          Inside each execution context is a variable environment where all
          variables and function declarations are stored.
        </li>
        <li>
          A function can also access variables outside of the function due to
          the scope chain. The scope chain consists of references to variables
          located outside the current function and it is stored in each
          execution context.
        </li>
        <li>
          Execution contexts belonging to arrow functions do not get their own
          arguments keyword, nor do they get the this keyword. They can use the
          arguments object, and the this keyword from their closest regular
          function parent.
        </li>
        <li>
          The call stack is a place where execution contexts get stacked on top
          of each other, to keep track of where we are in the program's
          execution. The execution context at the top of the stack is the one
          currently running.
        </li>
      </ul>
    </div>
    <ng-template #jsRuntime>
      <div>
        <ul class="ul-list">
          <li>
            A JavaScript engine is a program that executes JavaScript code.
          </li>
          <li>
            JavaScript engine components include a call stack, where code is
            executed, and a heap, an unstructured memory pool storing all
            objects needed by our application.
          </li>
          <li>
            JavaScript code is compiled into machine code for execution through
            a process called just-in-time compilation.
          </li>
          <li>
            The process includes parsing the code into a data structure known as
            the abstract syntax tree (AST), then compiling it into machine code,
            and finally executing it.
          </li>
          <li>
            An optimisation strategy is used where an unoptimised version of
            machine code is created first, then optimized and recompiled during
            program execution.
          </li>
          <li>
            A JavaScript runtime is a container that includes all necessary
            components to use JavaScript; at the heart of it is a JavaScript
            engine.
          </li>
          <li>
            A JavaScript runtime also includes access to web APIs (outside of
            the JavaScript language itself) and a callback queue for executing
            callback functions.
          </li>
        </ul>
        <table class="table table-dark">
          <thead>
            <tr>
              <th>Component</th>
              <th>JavaScript in Browser</th>
              <th>JavaScript in Node.js</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>JavaScript Engine</td>
              <td>Yes</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>Web APIs</td>
              <td>Yes</td>
              <td>No</td>
            </tr>
            <tr>
              <td>JavaScript Engine</td>
              <td>Yes</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>C++ Bindings</td>
              <td>No</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>Thread Pool</td>
              <td>No</td>
              <td>Yes</td>
            </tr>
          </tbody>
        </table>
        <ul class="ul-list">
          <li>JavaScript code is executed in a call stack.*</li>
          <li>
            The process starts by compiling the code and creating a global
            execution context for top-level code (code not inside any function).
          </li>
          <li>
            An execution context is an environment where a piece of JavaScript
            is executed. It stores necessary information for the code to be
            executed such as local variables or arguments passed into a
            function.
          </li>
          <li>
            In any JavaScript project, there is only ever one global execution
            context. It's always there as the default context and it's where
            top-level code will execute.
          </li>
          <li>
            For each function call, a new execution context will be created
            containing all the necessary information to run that function. All
            these execution contexts together make up the call stack.
          </li>
          <li>
            Inside each execution context is a variable environment where all
            variables and function declarations are stored.
          </li>
          <li>
            A function can also access variables outside of the function due to
            the scope chain. The scope chain consists of references to variables
            located outside the current function and it is stored in each
            execution context.
          </li>
          <li>
            Execution contexts belonging to arrow functions do not get their own
            arguments keyword, nor do they get the this keyword. They can use
            the arguments object, and the this keyword from their closest
            regular function parent.
          </li>
          <li>
            The call stack is a place where execution contexts get stacked on
            top of each other, to keep track of where we are in the program's
            execution. The execution context at the top of the stack is the one
            currently running.
          </li>
        </ul>
      </div>
    </ng-template>
  </div>
  <hr />

  <div>
    <h2 class="h2-title">Scope and the scope chain</h2>
    <div *ngIf="langEng; else scopeChain">
      <p class="callout">
        Scope namba code la oru place anga dha variable la declare aagum.
      </p>
      <h3 class="h3-title">Scoping:</h3>
      <p>
        Namba program la iruka variables la epdi organise aprm access
        aagirukunradha solum
      </p>
      <h3 class="h3-title">Lexical Scoping:</h3>
      <p>
        Scoping epdi control aagumna namba code la functions and blocks la endha
        order la place panirukomo adhu veachi dha
      </p>
      <h3 class="h3-title">Three types of scopes:</h3>
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Global</th>
            <th>Function & Local</th>
            <th>Block (ES6)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Function or block veliya</td>
            <td>Function inside mattum dha variable work aagum</td>
            <td>Block inside mattum dha variable work aagum</td>
          </tr>
          <tr>
            <td>
              Global scope ah declare pana variable code la enga venalum use
              panikalam
            </td>
            <td></td>
            <td>Verum (let & const) mattum dha apply aagum</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>Functions are also block scope</td>
          </tr>
          <tr>
            <td><app-js-code [showCode]="'js-adv-intro03'"></app-js-code></td>
            <td><app-js-code [showCode]="'js-adv-intro04'"></app-js-code></td>
            <td><app-js-code [showCode]="'js-adv-intro05'"></app-js-code></td>
          </tr>
        </tbody>
      </table>
      <ul class="ul-list">
        <li>Var is function scoped</li>
        <li>In ES5 we only have global scope & function scope</li>
        <li>
          ES5 variable declared with var only care about functions, but not
          about blocks
        </li>
      </ul>
    </div>
    <ng-template #scopeChain>
      <div>
        <p class="callout">
          Scope is the place in our code where variables are declared.
        </p>
        <h3 class="h3-title">Scoping:</h3>
        <p>How our program's variables are organised and accessed.</p>
        <h3 class="h3-title">Lexical Scoping:</h3>
        <p>
          Scoping is controlled by placement of functions and blocks in the
          code.
        </p>
        <h3 class="h3-title">Three types of scopes:</h3>
        <table class="table table-dark">
          <thead>
            <tr>
              <th>Global</th>
              <th>Function & Local</th>
              <th>Block (ES6)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Outside of any function or block</td>
              <td>Variables are accessible only inside function not outside</td>
              <td>Variables are accessible only inside block</td>
            </tr>
            <tr>
              <td>
                Variables declared in global scope are accessible everywhere
              </td>
              <td></td>
              <td>Only applies to (let & const)</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Functions are also block scope</td>
            </tr>
            <tr>
              <td><app-js-code [showCode]="'js-adv-intro03'"></app-js-code></td>
              <td><app-js-code [showCode]="'js-adv-intro04'"></app-js-code></td>
              <td><app-js-code [showCode]="'js-adv-intro05'"></app-js-code></td>
            </tr>
          </tbody>
        </table>
        <ul class="ul-list">
          <li>Var function scope</li>
          <li>In ES5 verum global scope & function scope mattum dha irukum</li>
          <li>
            ES5 la variables var la decalare la irundha adhu verum function la
            dha focus panum blocks la illa
          </li>
        </ul>
      </div>
    </ng-template>
  </div>
  <hr />

  <h2 class="h2-title">Variable lookup in scope chain</h2>
  <app-js-code [showCode]="'js-adv-intro06'"></app-js-code>
  <app-js-code [showCode]="'js-adv-intro07'"></app-js-code>
  <hr />
</div>
