<div class="popup-header">
  <mat-slide-toggle (change)="translate($event)"></mat-slide-toggle>
  <i class="fa-solid fa-xmark" data-bs-dismiss="modal" aria-label="Close"></i>
</div>

<div class="p-4">
  <h2 class="h2-title">What is variable?</h2>
  <ul class="ul-list" *ngIf="langEng; else varOther">
    <li>Use camelCase.</li>
    <li>
      camelCase na endha variable la multiple words varudho adhu starting letter
      small la start aaganum next vara word starting letter capital la irukanum.
    </li>
    <li>
      Variable names lam verum letters, Underscore aprm dollar symbol la start
      aagalam
    </li>
    <li>Variable name number la start aaga kudadhu</li>
    <li>Js oda keywords use pana kudadhu</li>
  </ul>
  <ng-template #varOther>
    <ul class="ul-list">
      <li>Use camelCase.</li>
      <li>
        camelCase means whenever there is multiple words in a variable name,
        Write the first word with a lowercase and then all the next words with
        upper case.
      </li>
      <li>
        Variable names only contain Letters, Underscore, or the Dollar assign
      </li>
      <li>Cannot use variable name starts with a number.</li>
      <li>Cannot use JavaScript reserved keyword.</li>
    </ul>
  </ng-template>
  <app-js-code [showCode]="'var-data01'"></app-js-code>
  <hr />

  <h2 class="h2-title">3 ways of declaring variables</h2>
  <table class="table table-dark" *ngIf="langEng; else declOther">
    <thead>
      <tr>
        <th>Let</th>
        <th>Const</th>
        <th>Var</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Namba oru variable ah reasign panom na let use panikala,</td>
        <td>
          Const keywrod use pana nambalala andha variable change pana mudiyadhu
        </td>
        <td>
          Var keyword let mathriye dha work aagum ES6 mudinadi use panadhu old
          method
        </td>
      </tr>
      <tr>
        <td>
          Initial ah oru empty variable declare panitu namba adha reassign
          panikalam
        </td>
        <td>
          Const variable empty ah iruka kudadhu, const ku initial value kandipa
          irukanum
        </td>
        <td></td>
      </tr>
      <tr>
        <td><app-js-code [showCode]="'var-let'"></app-js-code></td>
        <td><app-js-code [showCode]="'var-const'"></app-js-code></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <ng-template #declOther>
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Let</th>
          <th>Const</th>
          <th>Var</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            When you need to mutate (reassign) a variable, that's the perfect
            use case for using let.
          </td>
          <td>
            We use the const keyword to declare variable that are not suppose to
            change.
          </td>
          <td>
            var keyword is the old way of defining variables prior to ES6. It
            works same as let.
          </td>
        </tr>
        <tr>
          <td>
            We can declare a empty variable and then reassign that variable.
          </td>
          <td>
            Const cannot accept empty variable, const need a initial value
          </td>
          <td></td>
        </tr>
        <tr>
          <td><app-js-code [showCode]="'var-let'"></app-js-code></td>
          <td><app-js-code [showCode]="'var-const'"></app-js-code></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </ng-template>
  <hr />
</div>
