<div class="popup-header">
  <mat-slide-toggle (change)="translate($event)"></mat-slide-toggle>
  <i class="fa-solid fa-xmark" data-bs-dismiss="modal" aria-label="Close"></i>
</div>

<div class="p-4">
  <h2 class="h2-title">Array</h2>
  <ul class="ul-list" *ngIf="langEng; else langOther">
    <li>
      Array vandhu oru periya container mathri adhukulla namba variables lam
      potutu aprm refer panikalam
    </li>
    <li>Array ellam 0 based</li>
    <li>
      Array oru primitive value adhunala array ulla iruka variable la const
      keyword use panirundhalum namba adha change panikalam
    </li>
    <li>Array ulla oru statement use pana mudiyadhu</li>
  </ul>
  <ng-template #langOther>
    <ul class="ul-list">
      <li>
        An Array is like a big container into which we can throw variables and
        then later reference them.
      </li>
      <li>Array are 0 based</li>
      <li>
        Array is not a primitive value so we can change the element inside an
        array even if we using const Keyword.
      </li>
      <li>We should not write a statement inside an array.</li>
    </ul>
  </ng-template>
  <hr />

  <h2 class="h2-title">.length Property</h2>
  <app-js-code [showCode]="'array-01'"></app-js-code>
  <hr />

  <h2 class="h2-title">Usage</h2>
  <app-js-code [showCode]="'array-02'"></app-js-code>
  <hr />

  <h2 class="h2-title">Operators</h2>
  <h3 class="h3-title">Push: (Add Element)</h3>
  <ul class="ul-list" *ngIf="langEng; else langOther">
    <li>Array oda end la element ah add panum</li>
  </ul>
  <ng-template #langOther>
    <ul class="ul-list">
      <li>Push method adds elements to the end of an array.</li>
    </ul>
  </ng-template>
  <app-js-code [showCode]="'array-03'"></app-js-code>
  <hr />

  <h3 class="h3-title">Unshift : (Add Element)</h3>
  <ul class="ul-list" *ngIf="langEng; else langOther">
    <li>Array oda starting la element ah add panum</li>
  </ul>
  <ng-template #langOther>
    <ul class="ul-list">
      <li>Adds element to the beginning of the array.</li>
    </ul>
  </ng-template>
  <app-js-code [showCode]="'array-04'"></app-js-code>
  <hr />

  <h3 class="h3-title">Pop : (Remove Element)</h3>
  <ul class="ul-list" *ngIf="langEng; else langOther">
    <li>Push ku opposite</li>
  </ul>
  <ng-template #langOther>
    <ul class="ul-list">
      <li>Opposite to Push.</li>
    </ul>
  </ng-template>
  <app-js-code [showCode]="'array-05'"></app-js-code>
  <hr />

  <h3 class="h3-title">Shift: (Remove Element)</h3>
  <ul class="ul-list" *ngIf="langEng; else langOther">
    <li>Unshift ku opposite</li>
  </ul>
  <ng-template #langOther>
    <ul class="ul-list">
      <li>Opposite to unshift.</li>
    </ul>
  </ng-template>
  <app-js-code [showCode]="'array-06'"></app-js-code>
  <hr />

  <h3 class="h3-title">Tips:</h3>
  <app-js-code [showCode]="'array-07'"></app-js-code>
  <hr />
</div>
