<div *ngIf="showCode === 'strictMode'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
'use strict'
</code>
</pre>
</div>

<div *ngIf="showCode === 'singleComment'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
// Prints 5 to the console
console.log(5);
console.log(5);  // Prints 5 
</code>
</pre>
</div>

<div *ngIf="showCode === 'miltipleComments'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
/*
This is all commented 
console.log(10);
None of this is going to run!
console.log(99);
*/
console.log(/*IGNORED!*/ 5);  // Still just prints 5 
</code>
</pre>
</div>

<div *ngIf="showCode === 'var-data01'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
// camelCase
let firstName

// Letters, Underscore, or the Dollar 
let first_Name = “Mark”
et $firstName = “Peter”

// How not to use 
let 2boys = “2”;
let new = “A word”
</code>
</pre>
</div>

<div *ngIf="showCode === 'var-let'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
// let
let age = 30;		// 30
age = 31;			// 31
console.log(age);
</code>
</pre>
</div>

<div *ngIf="showCode === 'var-const'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
// const
const birthYear = 2000;	//Error
birthYear = 2004;
console.log(birthYear);
</code>
</pre>
</div>

<div *ngIf="showCode === 'operators-typeof'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
let birthYear = 2000;	//Error
birthYear = 2004;
console.log(birthYear);
</code>
</pre>
</div>

<div *ngIf="showCode === 'operators-assignment'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
// Examples 1 :
let x = 25 + 5; 
console.log(x); // 30
  
let x = 10; 
  
// Examples 2 :
let x += 10; 
console.log(x); // x = x + 10 = 20
  
// Examples 3 :
let x ++; 
console.log(x); // x = x + 1 = 11
  
// Examples 4 :
let x --; 
console.log(x); // x = x - 10 = 9
</code>
</pre>
</div>

<div *ngIf="showCode === 'operators-comparison'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
// Examples :
let x = 10; 
let y = 20;
console.log(x &lt; y); // true
console.log(x >= y); // false
</code>
</pre>
</div>

<div *ngIf="showCode === 'template-literals'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
const myName = "Peter";
const year = "2024";
const birthYear = "1990";

// Instead of this
const aboutMe = " I'm " + myName + " my birth year is " + birthYear + " and my age is " + (year - birthYear) + "!";
// New line
console.log(“This is a \n new line”);


// Template Literals
const aboutMeNew =  `I'm $&#123;myName&#125; my birth year is $&#123;birthYear&#125; and my age is $&#123;year - birthYear&#125; !`;
// New line
console.log(`This is a new line`);
</code>
</pre>
</div>

<div *ngIf="showCode === 'type-conversion'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
const inputYear = “1991”;
console.log(inputYear + 18); // 199118 ❌
console.log(Number(inputYear) + 18); //  2009 ✅
</code>
</pre>
</div>

<div *ngIf="showCode === 'type-coercion'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
console.log('I am' +23 + 'Years old');
console.log('I am' + string(23) + 'Years old');
console.log('23' - '10' - 3); // 10
</code>
</pre>
</div>

<div *ngIf="showCode === 'if-else'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
const age = 19;

if (age >= 18) &#123;
 console.log(`You can get a Driving Licence`);
&#125; else &#123;
 console.log(`You need to wait for another $&#123;18 - age&#125; years`);
&#125;
</code>
</pre>
</div>

<div *ngIf="showCode === 'else-if'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
const favColor = “pink”;

if (favColor === “pink”) &#123;
  console.log(`Your favorite color is Pink`);
&#125; else if (favColor === “red”) &#123;
  console.log(`Your favorite color is Red`);
&#125; else &#123;
  console.log(`Sorry!! Your favorite color is not in the list`);
&#125;  
</code>
</pre>
</div>

<div *ngIf="showCode === 'switch-case'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
const day = “monday”;

switch (day) &#123;
 case 'monday':
 console.log(`Today you have English Class`);
 break;

 case 'tuesday':
 console.log(`Today you have Math Class`);
 break;

 case 'wednesday':
 console.log(`Today you have Science Class`);
 break;

 default:
 console.log(`Today you have No classes`)
&#125; 
</code>
</pre>
</div>

<div *ngIf="showCode === 'truthy'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
console.log(boolean('A Name'));
</code>
</pre>
</div>

<div *ngIf="showCode === 'falsy'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
console.log(boolean(0)); -> False

console.log(boolean(undefined)); -> False
  
console.log(boolean(&#123;&#125;)); -> False(Empty object)

const money = 0;
if (money) &#123;
  console.log(`don't spend it all`);
&#125;  else &#123;
  console.log(`You should get a job`);
&#125; 
  
// Output : You should get a job
// Tip: If the const money = 100; 
// js wil print don't spend it all
</code>
</pre>
</div>

<div *ngIf="showCode === 'Loose Equality'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
'18' == 18
Output : True
</code>
</pre>
</div>

<div *ngIf="showCode === 'Strict Equality'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
const age = 18;
if (age === 18) console.log(`You are an adult`);
Output : You are an adult
</code>
</pre>
</div>

<div *ngIf="showCode === 'Prompt'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
const favNumber = prompt(`Enter your favorite number`)
console.log(favNumber);  
</code>
</pre>
</div>

<div *ngIf="showCode === 'boolean-and'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
true + true = true
true + false = false
false + true = false
false + false = false
</code>
</pre>
</div>

<div *ngIf="showCode === 'boolean-or'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
true + true = true
true + false = true
false + true = true
false + false = false  
</code>
</pre>
</div>

<div *ngIf="showCode === 'boolean-not'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
let a = false;
Output : !a -> true

Example :
if (fav !== value); 
Strict version ⬆ (Recommended)
  
if (fav != value); 
Loose version
</code>
</pre>
</div>

<div *ngIf="showCode === 'statement-expression'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
      Statement
          ⬇️
const str = `23 is big`;
                 ⬆️
             Expression
if (23 > 10) &#123;
  console.log(str);
&#125;
</code>
</pre>
</div>

<div *ngIf="showCode === 'strict-mode'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
'use strict'
</code>
</pre>
</div>

<div *ngIf="showCode === 'function-01'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
function logger() &#123;
  console.log(`Hello !!`);
&#125;
logger() // Calling/ Running/ Invoking Function

function fruitProcessor(apples, oranges) &#123;
  const juice = `Juice with $&#123;apples&#125; apples and $&#123;oranges&#125; oranges`;
  console.log(juice);
  return
&#125;
 
const appleJuice = fruitProcessor(5, 0);
console.log(appleJuice);
// Output - Juice with 5 apples and 0 oranges
</code>
</pre>
</div>

<div *ngIf="showCode === 'function-02'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
const calcAge = function(birthYear) &#123;
  return 2037 - brithYear;
&#125;   
</code>
</pre>
</div>

<div *ngIf="showCode === 'function-03'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
function calcAge(birthYear) &#123;
  Return 2037 - birthYear;
&#125;      
</code>
</pre>
</div>

<div *ngIf="showCode === 'function-04'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
const calcAge = birthYear => 2037 - birthYear;
const age = calcAge(1991);
console.log(age); 
  
More than one parameter:
const yearsUntilRetirement = (birthYear, firstName) => &#123;
  const age = 2037 - birthYear;
  const retirement = 65 - age;
  return $&#123;firstName&#125; retires in $&#123;retirement&#125; years`;
&#125;  
console.log(yearsUntilRetirement(1980, 'Mark'));
</code>
</pre>
</div>

<div *ngIf="showCode === 'function-05'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
const cutPieces = function(fruit) &#123;
  return fruit * 4;
&#125;

const fruitProcessor = function(apples, oranges) &#123;
  const applePieces = cutPieces(apples);
  const orangePieces = cutPieces(oranges);
  const juice = `juice with $&#123;apples&#125; apples and $&#123;oranges&#125; oranges`;
  return juice;
&#125;

console.log(fruitProcessor(2,3));
// Output - juice with 2 apples and 3 oranges
</code>
</pre>
</div>

<div *ngIf="showCode === 'array-01'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
  // Literal Syntax :
  const animals = ['dog', 'cat', 'cow'];
  
  // Otherway :
  const years = new array(1991, 1984, 1998);
  
  const animals = ['dog', 'cat', 'cow'];
  console.log(animals.length);
  console.log(animals[animals.length - 1]);
  animals[2];
  
  // Output : cow
  
  // We can change the element in a array
  const animals = ['dog', 'cat', 'cow'];

  animals[2] = 'chicken';
</code>
</pre>
</div>

<div *ngIf="showCode === 'array-02'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
const firstName = 'Peter';
const peterData = [firstName, 'male', 2037 - 1998];  

// Should not use ❌
const years = [1998, 1999, 2000, 2001];
const calcAge = function(birthYear) &#123;
  Return 2037 - birthYear;
&#125;
calcAge(years);
</code>
</pre>
</div>

<div *ngIf="showCode === 'array-03'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
// Push
const animals = ['dog', 'cat', 'cow'];
animals.push('pig');
// Changes : ['dog', 'cat', 'cow', 'pig']
</code>
</pre>
</div>

<div *ngIf="showCode === 'array-04'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
// Unshift
const animals = ['dog', 'cat', 'cow', 'pig'];
animals.unshift('horse');
// Changes :  ['horse', 'dog', 'cat', 'cow', 'pig']
</code>
</pre>
</div>

<div *ngIf="showCode === 'array-05'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
// Pop
const animals = ['dog', 'cat', 'cow', 'pig'];
animals.pop('pig');
// Changes : ['dog', 'cat', 'cow']
</code>
</pre>
</div>

<div *ngIf="showCode === 'array-06'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
// Shift
const animals = ['dog', 'cat', 'cow'];
animals.shift('dog');
// Changes :  ['cat', 'cow']
</code>
</pre>
</div>

<div *ngIf="showCode === 'array-07'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
// indexOf()
// Similar to indexof()
// Can find the position of the element.
const animals = ['dog', 'cat', 'cow'];
console.log(animals.indexOf('dog'));
// Output : 0

// include() : (True or False)
// We can use the input method to write conditions.
console.log(animals.indexof('dog'));
// Example :
const animals = ["dog", "pig"];
console.log(`You have a pet`);
// Output : true
</code>
</pre>
</div>

<div *ngIf="showCode === 'js-adv-intro01'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
const closeModal = () => &#123;
	modal.classList.add("hidden");
	overlay.classList.add("hidden");
&#125;;
overlay.addEventListener("click", closeModal);
                                      ⤵
// Passing a function into another function as a argument is
// first class function
</code>
</pre>
</div>

<div *ngIf="showCode === 'js-adv-intro02'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
let x = 23;
let y = 19;
x = "Jonas";
      ⤵
// Data typesof variables is automatically changed
</code>
</pre>
</div>

<div *ngIf="showCode === 'js-adv-intro03'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
const job = 'Teacher'
</code>
</pre>
</div>

<div *ngIf="showCode === 'js-adv-intro04'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
function calcAge() &#123;
	const now = 2024;
&#125;
</code>
</pre>
</div>

<div *ngIf="showCode === 'js-adv-intro05'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
if() &#123;&#125;
</code>
</pre>
</div>

<div *ngIf="showCode === 'js-adv-intro06'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
const myName = "Jonas";
function first() &#123;
	const age = 30;
	if(age >= 30) &#123;
		const decade = 3;
		var millenial = true;
  &#125;
	
	function second() &#123;
		const job = "Teacher",
		console.log(`$&#123;myName&#125; is a $&#123;age - old&#125; $&#123;Job&#125;`);
  &#125;
	second();
&#125;
</code>
</pre>
</div>

<div *ngIf="showCode === 'js-adv-intro07'" class="code-container">
  <pre class="line-numbers">
<code class="language-javascript">
// Global Scope
myName = "Jonas";
     ⤴
first()
age = 30
myName = "Jonas"
     ⤴
Second()
job = "Teacher"
age = 30
myName = "Jonas"
</code>
</pre>
</div>
