<header>
  <h1>CodeKeeper</h1>
  <i
    class="fa-solid fa-magnifying-glass"
    data-bs-toggle="modal"
    data-bs-target="#searchMain"
  ></i>
</header>

<section class="cover-div">
  <div>
    <h2>📒</h2>
    <p>CodeKeeper</p>
  </div>
</section>

<main>
  <nav>
    <a
      [routerLink]="'/cssComponent'"
      [ngClass]="{ 'active-link': isActive('/cssComponent') }"
      >📒 Css</a
    >
    <a
      [routerLink]="'/scssComponent'"
      [ngClass]="{ 'active-link': isActive('/scssComponent') }"
      >📒 Scss</a
    >
    <a
      [routerLink]="'/jsComponent'"
      [ngClass]="{ 'active-link': isActive('/jsComponent') }"
      >📒 Javascript</a
    >
    <a
      [routerLink]="'/angularComponent'"
      [ngClass]="{ 'active-link': isActive('/angularComponent') }"
      >📒 Angular</a
    >
    <a
      [routerLink]="'/reactJsComponent'"
      [ngClass]="{ 'active-link': isActive('/reactJsComponent') }"
      >📒 React Js</a
    >
    <a
      [routerLink]="'/reactNativeComponent'"
      [ngClass]="{ 'active-link': isActive('/reactNativeComponent') }"
      >📒 React Native</a
    >
    <a
      [routerLink]="'/githubComponent'"
      [ngClass]="{ 'active-link': isActive('/githubComponent') }"
      >📒 Github</a
    >
    <a
      [routerLink]="'/otherComponent'"
      [ngClass]="{ 'active-link': isActive('/otherComponent') }"
      >📒 Other</a
    >
  </nav>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>

<!-- Modal -->
<div
  class="modal fade"
  id="searchMain"
  tabindex="-1"
  aria-labelledby="searchMainLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable"
  >
    <div class="modal-content">
      <div class="modal-body">
        <form [formGroup]="filterForm" class="filter-main">
          <div class="filter-form01">
            <input
              class="filter01"
              type="text"
              formControlName="optionsControl"
              [matAutocomplete]="filterMain"
              placeholder="Language"
            />
            <mat-autocomplete #filterMain="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredOptions | async"
                [value]="option"
                >{{ option }}</mat-option
              >
            </mat-autocomplete>

            <input
              class="filter02"
              type="text"
              formControlName="optionsControlSub"
              [matAutocomplete]="filterSub"
              placeholder="Search in CodeKeeper..."
              (click)="subclick()"
            />
            <mat-autocomplete #filterSub="matAutocomplete">
              <mat-option
                *ngFor="let option of newoptsub | async"
                [value]="option"
                >{{ option }}</mat-option
              >
            </mat-autocomplete>

            <button type="button" class="popup-search">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <button type="button" data-bs-dismiss="modal" class="popup-close">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          <div class="filter-form02">
            <small>Popular</small>
            <div class="block">
              <p class="active">Js Intro <i class="fa-solid fa-xmark"></i></p>
              <p>Js Array <i class="fa-solid fa-xmark"></i></p>
              <p>Js Object <i class="fa-solid fa-xmark"></i></p>
              <p>
                Js Primitive and Js Non-Primitive
                <i class="fa-solid fa-xmark"></i>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
