<div class="popup-header">
  <mat-slide-toggle (change)="translate($event)"></mat-slide-toggle>
  <i class="fa-solid fa-xmark" data-bs-dismiss="modal" aria-label="Close"></i>
</div>

<div class="p-4">
  <h2 class="h2-title">Function</h2>
  <ul class="ul-list" *ngIf="langEng; else langOther">
    <li>
      Functions radhu oru piece of code namba adhu ethana time venalum reuse
      panikalam
    </li>
    <li>
      Variable la oru value store panalam ana oru function la namba oru line ah
      ye store panikalam
    </li>
    <li>
      Namba oru function ulla data va pass panikalam adhu andha data va return
      um panum
    </li>
    <li>
      Parameters lam andha function oda variables function ah call panumbodhu
      define aagum
    </li>
  </ul>
  <ng-template #langOther>
    <ul class="ul-list">
      <li>Function is a piece of code that we can reuse over and over again</li>
      <li>
        A variable holds value but a function can hold one or more complete
        lines of code.
      </li>
      <li>
        We can also pass data into a function and additionally, a function can
        also return data as well.
      </li>
      <li>
        Parameters are like variables that are specific only to this function
        and they will get defined when we call that function.
      </li>
    </ul>
  </ng-template>
  <app-js-code [showCode]="'function-01'"></app-js-code>
  <hr />

  <h2 class="h2-title">Expression & Declaration</h2>
  <table class="table table-dark" *ngIf="langEng; else expDec">
    <thead>
      <tr>
        <th>Expression & Declaration</th>
        <th>Function Declaration</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Name illadha function ah synonyms function nu soluvanga andha function
          code oru expression ah irukum
        </td>
        <td>Sadha function</td>
      </tr>
      <tr>
        <td>
          <app-js-code [showCode]="'function-02'"></app-js-code>
        </td>
        <td>
          <app-js-code [showCode]="'function-03'"></app-js-code>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #expDec>
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Expression & Declaration</th>
          <th>Function Declaration</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            A Function without name is called as synonyms function so this code
            is basically an expression.
          </td>
          <td>A normal function</td>
        </tr>
        <tr>
          <td>
            <app-js-code [showCode]="'function-02'"></app-js-code>
          </td>
          <td>
            <app-js-code [showCode]="'function-03'"></app-js-code>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
  <hr />
</div>
