<div class="callout">
  The Javascipt notes from various sources covered most of the concepts.
</div>

<h2 class="h2-title">Basics</h2>
<div class="topics-list">
  <a routerLink="JsIntroRoute" data-bs-toggle="modal" data-bs-target="#jsModal">
    <i class="fa-solid fa-note-sticky"></i> Intro
  </a>
  <a
    routerLink="JsCommentsRoute"
    data-bs-toggle="modal"
    data-bs-target="#jsModal"
  >
    <i class="fa-solid fa-comments"></i> Comments
  </a>
  <a
    routerLink="JsVariablesRoute"
    data-bs-toggle="modal"
    data-bs-target="#jsModal"
  >
    <i class="fa-database fa-solid"></i> Variables
  </a>
  <a
    routerLink="JsOperatorsRoute"
    data-bs-toggle="modal"
    data-bs-target="#jsModal"
  >
    <i class="fa-equals fa-solid"></i> Operators
  </a>
  <a
    routerLink="JsTliteralsRoute"
    data-bs-toggle="modal"
    data-bs-target="#jsModal"
  >
    <i class="fa-link fa-solid"></i> Template Literals
  </a>
  <a
    routerLink="JsConversionRoute"
    data-bs-toggle="modal"
    data-bs-target="#jsModal"
  >
    <i class="fa-shuffle fa-solid"></i> Conversion & Coercion
  </a>
  <a
    routerLink="JsTruthyfalsyRoute"
    data-bs-toggle="modal"
    data-bs-target="#jsModal"
  >
    <i class="fa-code-fork fa-solid"></i> Truthy & Falsy
  </a>
  <a
    routerLink="JsBooleanRoute"
    data-bs-toggle="modal"
    data-bs-target="#jsModal"
  >
    <i class="fa-network-wired fa-solid"></i> Boolean
  </a>
  <a
    routerLink="JsStatExpRoute"
    data-bs-toggle="modal"
    data-bs-target="#jsModal"
  >
    <i class="fa-file-signature fa-solid"></i> Statement & Expression
  </a>
  <a routerLink="JsArrayRoute" data-bs-toggle="modal" data-bs-target="#jsModal">
    <i class="fa-object-group fa-regular"></i> Array
  </a>
  <a
    routerLink="JsPromptRoute"
    data-bs-toggle="modal"
    data-bs-target="#jsModal"
  >
    <i class="fa-regular fa-window-maximize"></i> Prompt
  </a>
  <a
    routerLink="JsIfelseRoute"
    data-bs-toggle="modal"
    data-bs-target="#jsModal"
  >
    <i class="fa-solid fa-spell-check"></i> If else
  </a>
  <a
    routerLink="JsSwitchRoute"
    data-bs-toggle="modal"
    data-bs-target="#jsModal"
  >
    <i class="fa-list-check fa-solid"></i> Switch case
  </a>
  <a
    routerLink="JsFunctionsRoute"
    data-bs-toggle="modal"
    data-bs-target="#jsModal"
  >
    <i class="fa-box fa-solid"></i> Function
  </a>
  <a
    routerLink="JsProject01Route"
    data-bs-toggle="modal"
    data-bs-target="#jsModal"
  >
    <i class="fa-solid fa-bullseye"></i> Project
  </a>
</div>

<h2 class="h2-title topics-set02">Advance</h2>
<div class="topics-list">
  <a
    routerLink="JsAdvIntroRoute"
    data-bs-toggle="modal"
    data-bs-target="#jsModal"
  >
    <i class="fa-solid fa-note-sticky"></i> Intro
  </a>
</div>

<div
  class="modal fade"
  id="jsModal"
  tabindex="-1"
  aria-labelledby="jsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content popup-component">
      <div class="modal-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
