<div class="popup-header">
  <i class="fa-solid fa-xmark" data-bs-dismiss="modal" aria-label="Close"></i>
</div>

<div class="p-4">
  <h2 class="h2-title">TypeOf</h2>
  <ul class="ul-list">
    <li>We can use to show the type of a value.</li>
  </ul>
  <app-js-code [showCode]="'operators-typeof'"></app-js-code>
  <hr />

  <h2 class="h2-title">Assignment</h2>
  <app-js-code [showCode]="'operators-assignment'"></app-js-code>
  <hr />

  <h2 class="h2-title">Comparison</h2>
  <app-js-code [showCode]="'operators-comparison'"></app-js-code>
  <hr />
</div>
